<header class="header">
    <div class="container">
      <h2 class="logo">Inba</h2>
      <ul class="menu" [class.active]="isMenuOpen">
        <li routerLink="/"> Home</li>
        <li routerLink="about">About-us</li>
        <li routerLink="service">Services</li>
        <li routerLink="doctor">Doctor</li>
        <li routerLink="appointment">Page</li>
        <li routerLink="blog">Blog</li>
        <li routerLink="contact-us">Contact-Us</li>
      </ul>
      <div class="last">
        <i class="fa-brands fa-sistrix"></i>
        <button class="btn">Appointment</button>
         <div class="hamburger" (click)="toggleMenu()">
        ☰
      </div>
      </div>
    </div>
  </header>
  <router-outlet></router-outlet>