<header class="header">
    <div class="container">
      <h2 class="logo">Inba</h2>
      <ul class="menu" [class.active]="isMenuOpen">
        <li>Home</li>
        <li>Pages</li>
        <li>Services</li>
        <li>Blog</li>
        <li>Contact</li>
      </ul>
      <div class="last">
        <i class="fa-brands fa-sistrix"></i>
        <button class="btn">Appointment</button>
         <div class="hamburger" (click)="toggleMenu()">
        ☰
      </div>
      </div>
    </div>
  </header>
  