<div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1525464.4878981498!2d-77.594803!3d41.689807!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c258a8d8fe5c1b%3A0xc7594d037ba3f984!2sNYC%20Health%20%2B%20Hospitals%2FMetropolitan!5e0!3m2!1sen!2sbd!4v1781639119907!5m2!1sen!2sbd" width="100%" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <div class="info">
        <h3 class="heading">Contact Us by Phone Number or Email Address</h3>
        <a href="#" class="number">+088 130 629 8615</a>
        <p class="text">OR</p>
        <li class="mail">hello&#64;inba.com</li>
        <i class="fa-brands fa-twitter logo"></i>
        <i class="fa-brands fa-youtube logo"></i>
        <i class="fa-brands fa-facebook-f logo"></i>
        <i class="fa-brands fa-linkedin-in logo"></i>
        <i class="fa-brands fa-instagram logo"></i>
    </div>
</div>