  <section class="features">
    <div class="cards">
      <div class="card">
        <i class="fa-solid fa-wheelchair icon"></i>
        <div>
          <h3>Qualified Doctors</h3>
          <p>Proin gravida nibh velit auctor aliquet aenean</p>
        </div>
      </div>
  
      <div class="card">
        <i class="fa-solid fa-hands-holding-circle icon"></i>
        <div>
          <h3>Emergency Care</h3>
          <p>Proin gravida nibh velit auctor aliquet aenean</p>
        </div>
      </div>
  
      <div class="card">
        <i class="fa-solid fa-user-doctor icon"></i>
        <div>
          <h3>Modern Equipment</h3>
          <p>Proin gravida nibh velit auctor aliquet aenean</p>
        </div>

      </div>
  
    </div>
  </section>