
<section class="about">
    <div class="Services">
      <div class="Services-about">
        <h1 class="abouth1">Enjoy Specialized Care Through Precision, Artistry, and Experience</h1>
        <button class="btn-service">view all</button>
      </div>
    </div>
    <div class="service-card">
      <div class="s-cards">
        <div class="s-card1">
          <div class="s-card">
            <img class="img" src="../assets/image/services-1.jpg.jpeg" alt="">
          <h3 class="cardh3">General Denistry</h3>
          <p class="cardp">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et, ut sequi sit voluptate eos laboriosam </p>
          </div>
          
        </div>
         <div class="s-card2">
          <div class="s-card">
            <img class="img" src="../assets/image/services-2.jpg.jpeg" alt="">
           <h3 class="cardh3">Comestic Dentistry</h3>
           <p class="cardp">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et, ut sequi sit voluptate eos laboriosam </p>
          </div>
           
          </div>
            <div class="s-card3">
              <div class="s-card">
                <img class="img" src="../assets/image/services-3.jpg.jpeg" alt="">
             <h3 class="cardh3">Dental Implants</h3>
              <p class="cardp">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et, ut sequi sit voluptate eos laboriosam </p>
              </div>
             
            </div>

            <div class="s-card1">
          <div class="s-card">
            <img class="img"src="../assets/image/services-4.jpg.jpeg" alt="">
          <h3 class="cardh3">Orthodontics</h3>
          <p class="cardp">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et, ut sequi sit voluptate eos laboriosam </p>
          </div>
          
        </div>
         <div class="s-card2">
          <div class="s-card">
            <img class="img" src="../assets/image/services-5.jpg.jpeg" alt="">
           <h3 class="cardh3">Teeth Whitening</h3>
           <p class="cardp">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et, ut sequi sit voluptate eos laboriosam </p>
          </div>
           
          </div>
            <div class="s-card3">
              <div class="s-card">
                <img class="img" src="../assets/image/services-6.jpg.jpeg" alt="">
             <h3 class="cardh3">Teeth Cleaning </h3>
              <p class="cardp">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et, ut sequi sit voluptate eos laboriosam </p>
              </div>
             
            </div>

      </div>
      
       
    </div>

   </section>