
 <section class="hero">
    <div class="container-hero-wrap">
      <div class="hero-text">
        <!-- <span class="tag">Best Medical Center</span> -->
        <h1>Personalized Dental Care</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia nihil dicta minima, incidunt animi ipsum voluptatem hic nulla cum aliquam accusamus molestiae adipisci necessitatibus a molestias, odit voluptas tenetur assumenda.
        </p>
  
        <div class="hero-btns">
          <button class="btn">Book Appointment</button>
          <a  href="#">Get free checkup</a>
          <!-- <button class="btn-outline">Get free checkup</button> -->
        </div>
      </div>  
    </div>
  </section>