<section class="dental">
    <div class="our">
            <h1>Our Clients are Our Priority, We Offer Quality Dental Services <span class="highlight">of Specialists</span></h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
     <div class="services">
        <div class="service-item"><i class="fa-solid fa-check tick"></i>Complete Crown</div>
        <div class="service-item"><i class="fa-solid fa-check tick"></i>Cosmetic Filling</div>
        <div class="service-item"><i class="fa-solid fa-check tick"></i>Dental Implants</div>
        <div class="service-item"><i class="fa-solid fa-check tick"></i>Cosmetic Filling</div>
        <div class="service-item"><i class="fa-solid fa-check tick"></i>Dental X-Ray</div>
        <div class="service-item"><i class="fa-solid fa-check tick"></i>Root Canal</div>
      </div>
            <div class="experience-badge">
                <div>
                    <i class="fa-solid fa-staff-snake snake"></i>
                </div>
                <div>

                    <strong>25+ Years</strong><br>
                    <small>Dental Experienced</small>
                </div>
         </div>
    </div>
    <div class="image">
    <img src="../../assets/image/about-1.jpg" alt="Dentists">
  </div>
</section>