<section class="specialty">
    <div class="body">
        <h1 class="title">Our Clients are Our Priority, We Offer Quality Dental Services from Specialists</h1>
    </div>
    <div class="grid">
        <div class="card">
            <i class="fa-solid fa-staff-snake"></i>
            <h2>Quality Brackets</h2>
        </div>
        <div class="card">
            <i class="fa-regular fa-newspaper"></i>
            <h2>Certified Dentists</h2>
        </div>
        <div class="card">
            <i class="fa-regular fa-gem"></i>
            <h2>Experience</h2>
        </div>
        <div class="card">
            <i class="fa-solid fa-hospital-user"></i>
            <h2>Patient Care</h2>
        </div>
    </div>
</section>
