<section class="blog">
    <div class="body">
        <h1 class="title">Stay Updated with Our Latest News and Blog</h1>
        <button class="btn">View All</button>
    </div>
    <div class="grid">
        <div class="card">
            <img class="img" src="../../assets/image/blog-1 (1).jpeg" alt="">
            <div class="title-2">
                <span class="span">Technology</span>
            </div>
            <h3 class="h3">New Technology Make for Dental Operation</h3>
            <p class="intro">Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod.</p>
            <a class="read" href="#">Read more</a>
            <div class="text">
                <i class="fa-solid fa-user i"></i>
                <p class="name">By<a class="d-name" href="#">Daisy Ganriela</a></p>  
                <i class="fa-solid fa-message" i></i>    
                <p class="name">comment</p>

            </div>           
        </div>
        <div class="card">
            <img class="img" src="../../assets/image/blog-1 (2).jpeg" alt="">
            <div class="title-2">
                <span class="span">Dental</span>
            </div>
            <h3 class="h3">Regular Dental care make Your Smile Brighter</h3>
            <p class="intro">Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod.</p>
            <a class="read" href="#">Read more</a>

            <div class="text">
                <i class="fa-solid fa-user i"></i>
                <p class="name">By<a  class="d-name"href="#">Ronnie Aaron</a></p>
                <i class="fa-solid fa-message i"></i>
                <p class="name">comment</p>

            </div>           
        </div>
        <div class="card">
            <img class="img" src="../../assets/image/blog-1 (3).jpeg" alt="">
            <div class="title-2">
                <span class="span">Hygiene</span>
            </div>
            <h3 class="h3">Dental Hygiene for All Age to Make Smile</h3>
            <p class="intro">Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod.</p>
            <a  class="read" href="#">Read more</a>
            <div class="text">
                <i class="fa-solid fa-user i"></i>
                <p class="name">By<a class="d-name" href="#">Babtunde Jon</a></p>
                <i class="fa-solid fa-message i"></i>
                <p class="name">comment</p>
            </div>           

        </div>
    </div>

</section>

