<section class="reviews">
    <div class="body">
        <h1 class="title">Features That You Will Love Us</h1>
        <button class="btn">View All</button>
    </div>
    <div class="grid">
        <div class="card">
            <i class="fa-solid fa-quote-right"></i>
            <p class="intro">Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <div class="card-text">
                <img src="../../assets/image/review-2 (2).jpeg" alt="">
                <div class="text">
                    <p class="d-name">Dr. Sarah Taylor</p>
                    <span class="span">Nephrologists</span>
                </div>            
            </div>           
        </div>
        <div class="card">
            <i class="fa-solid fa-quote-right"></i>
            <p class="intro">Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <div class="card-text">
                <img src="../../assets/image/review-2 (2).jpeg" alt="">
                <div class="text">
                    <p class="d-name">Dr. Sarah Taylor</p>
                    <span class="span">Nephrologists</span>
                </div>            
            </div>           
        </div>
        <div class="card">
            <i class="fa-solid fa-quote-right"></i>
            <p class="intro">Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <div class="card-text">
                <img src="../../assets/image/review-2 (1).jpeg" alt=""> 
                <div class="text">
                    <p class="d-name">Dr. Aiken Ward</p>
                    <span class="span">Endocrinologists</span>
                </div>
            </div>           

        </div>
    </div>
</section>

