<section class="section">
     <div class="reviews">
        <div class="cards">
            <div class="img">
                <img src="../../../../assets/image/pages/assistance.png"  class="logo" alt="">
            </div>
            <div>
                <h3 class="h3">Customer Service</h3>
                <p class="p">We always provide 24/7 support to help the tourists.</p>
            </div>
        </div>
        <div class="cards">
            <div class="img">
                <img src="../../../../assets/image/pages/travel.png"  class="logo" alt="">
            </div>
            <div>
                <h3 class="h3">Dedicated Transport</h3>
                <p class="p">Our dedicated drivers provide you with affordable transportation.</p>
            </div>
        </div>
        <div class="cards">
            <div class="img">
                <img src="../../../../assets/image/pages/cost.png"  class="logo" alt="">
            </div>
            <div>
                <h3 class="h3">Lowest Prices</h3>
                <p class="p">We offer all types dental treatments for tourists the lowest prices.</p>
            </div>
        </div>

    </div>
</section>