<section class="section">
    <div class="score-main">
        <div class="score1">
            <div>
                <h1 class="score">120</h1>
                <p class="title">Health Sections</p>
            </div>
        </div>
        <div class="score2">
            <h1 class="score">234</h1>
                <p class="title">Professionals Doctor</p>
        </div>
        <div class="score3">
            <h1 class="score">2234</h1>
                <p class="title">Satisfied Patients</p>
        </div>
        <div class="score4">
            <h1 class="score">100+</h1>
                <p class="title">Health Plans</p>
        </div>
    </div>
</section>
<br><br><br><b><br><br><br></b>
