<section class="booking">
    <div class="booking-main">
      <div class="contact">
        <div class="div-contact">
          <span>Call today</span>
          <a class="a1" href="#">+088 123 654 987</a>
          <p>Aenean sollicitudin, here lorem lorem quis auctor nisi elit lorem nec.</p>
          <button class="btn-service">Contact us</button>
        </div>
      </div>
      <div class="book">
        <div class="book-div1">
          <h4 class="h4-1">Make An Appointment</h4>
          <input type="text" name="" id="" placeholder="Name"><br>
          <input type="email" name="" id="" placeholder="Email"><br>
          <input type="tel" placeholder="Phone"><br>
          <button class="book-btn">Book Appointment</button>
        </div>
          <div class="book-div2">
            <h4 class="h4-2">We Are a Certified and Award-winning Hospital</h4>
            <img class="book-img" src="../assets/image/appointment-2.jpg.jpeg" alt="">
          </div>
      </div>
    </div>
    <br><br>
</section>
